name: Build
on:
  workflow_dispatch:
  push:
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build with Buildozer
        uses: ArtemSerebryakov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.10
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: DataRecycle-APK
          path: bin/*.apk
          
