name: Build APK
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build with Buildozer
        uses: ArtemSerebryakov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.11
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: DataRecycle-APK
          path: bin/*.apk
          
